<!--Copyright © 2023 Patryk Landowski & Karolina Zaboronek-->
{% extends 'index.html' %}

{% block main %}
<form action="home" method="post">
    <br>
    <input type="password" name="api_key" placeholder="Consumer Key"><br>
    <input type="password" name="api_key_secret" placeholder="Consumer Secret"><br>
    <input type="password" name="access_token" placeholder="Access Token"><br>
    <input type="password" name="access_token_secret" placeholder="Access Token Secret"><br>
    <br>

    <a href="/home">
        <input type="submit" value="Sign Up"/>
    </a>
</form>
{% endblock %}